.infoWrap {
  text-align: center;
}

.resultWrap {
  text-align: center;
}

#result {
  min-width: 100px;
  height: 50px;
  font-size: 32px;
  top: 100px;
  font-weight: 900;
}

.inputWrap {
  text-align: center;
  position: relative;
  top: 50px;
}

#pop {
  top: 0px;
}

#value {
  top: 20px;
}

#amount {
  top: 40px;
}